body {
	margin: 0;
}

.contenedor {
	max-width: 1000px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	background: #E2585E;
	color: white;
	align-items: center;
	position: relative;
	height: 50px;
}

.portada {
	display: flex;

}

.col1 {
	width: 70%;
	margin-top: 0;
	background: #DF9829;
	transition: .3s;
	padding: 1em;
	box-sizing: border-box;
}

.col2 {
	width: 30%;
	background: #D3424A;
	position: relative;
	padding: 1em;
	box-sizing: border-box;
}

.col1 p, .col2 p {
	margin: 0;
	color: white;
}

.col1 h1 {
	margin-top: 0;
	color: white;
}

.logo {
	width: 40%;
	position: relative;
	top: 0
	transition: .3s;
}

.logo img {
	margin-left: 15px;
}

.menu, .banner {
	width: 30%;
}

.menu {
	position: absolute;
	height: 50px;
	left: 70%;
	top: 0;
	transition: .3s;
	color: white;
	background: #494545;
	display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
	background: #2E9787;
	position: absolute;
	transition: .3s;
	top: 0;
	left: 40%;
	height: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
	.banner {
		left: 70%;
		top: 50px;
	}

	.col2 {
		top: 50px;
	}
}

@media screen and (max-width: 600px) {
	.menu {
		left: 0;
		top: 50px;
		width: 70%;
	}

	.col1 {
		margin-top: 50px;
	}
}

@media screen and (max-width: 480px) {
	.col1 {
		margin-top: 100px;
		width: auto;
	}

	.menu {
		width: 100%;
	}

	.banner {
		top: 100px;
		left: 0;
		width: 100%;
	}

	.portada {
		display: block;
	}

	.col2 {
		width: auto;
		top: 0;
	}
}